
.container{
  background: #f4f4f4;
}

.top{
  width: 100%;
  .background{
    width: 100%;
    height: 320rpx;
    display: block;
    background-image: url(http://inimg02.jiuyan.info/in/2018/01/04/618F6A80-57E3-EE9F-4A25-5DFC1C210943.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .info{
    width: 698rpx;
    padding-left: 52rpx;
    height: 176rpx;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .avatar{
      width: 140rpx;
      height: 140rpx;
      border-radius: 6rpx;
      position: absolute;
      top: -108rpx;
      left: 52rpx;
      background-image: url(http://inimg05.jiuyan.info/in/2018/01/04/18A427FC-9BEC-F20F-A2DF-C2D711917F5F.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .name{
      margin-top: 26rpx;
      white-space: nowrap;
      max-width: 450rpx;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 32rpx;
      color: #333;
    }
    .infotxt{
      margin-top: 10rpx;
      opacity: 0.7;
      font-size: 24rpx;
      color: #666;
    }
    .btn{
      position: absolute;
      top: 58rpx;
      right: 34rpx;
      width: 160rpx;
      height: 60rpx;
      line-height: 60rpx;
      border: 2rpx solid #fea167;
      border-radius: 200px;
      font-size: 28rpx;
      color: #fea167;
      text-align: center;
    }
  }
}

.gallery{
  padding: 36rpx 17rpx 0;
  .item:after{
    content: '';
    position: absolute;
  }
  .item{
    width: 324rpx;
    height: 310rpx;
    border-radius: 6rpx;
    background: #fff;
    float: left;
    margin: 0 17rpx 34rpx; 
    position: relative;
    .title{
      display: block;
      margin: 22rpx 20rpx 0;
      width: 250rpx;
      font-size: 32rpx;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .num{
      margin: 0 20rpx;
      font-size: 24rpx;
      color: #b0b0b0;
    }
    .preview{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 165rpx;
      overflow: hidden;
      view{
        background-image: url(http://inimg05.jiuyan.info/in/2018/01/04/18A427FC-9BEC-F20F-A2DF-C2D711917F5F.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
      }
    }
    .preview.p0{
      background-image: url(http://inimg07.jiuyan.info/in/2018/01/05/45B27708-1761-B3F3-C4DA-A5C9338FD0D7.png);
      background-size: 312rpx 153rpx;
      background-repeat: no-repeat;
      background-position: center;
    }
    .preview.p1 view{
      margin: 6rpx;
      width: 312rpx;
      height: 153rpx;
    }
    .preview.p2 view{
      width: 153rpx;
      height: 153rpx;
      margin: 6rpx;
    }
    .p2 view:nth-child(2){
      right: 0;
      top: 0;
    }
    .preview.p3 view{
      width: 153rpx;
      height: 153rpx;
      margin: 6rpx;
    }
    .p3 view:nth-child(2),.p3 view:nth-child(3){
      right: 0;
      width: 153rpx;
      height: 36px;
    }
    .p3 view:nth-child(3){
      top: 80rpx;
    }
    .preview.p4 view{
      width: 153rpx;
      height: 153rpx;
      margin: 6rpx;
    }
    .p4 view:nth-child(2){
      right: 79rpx;
      width: 73rpx;
      height: 36px;
    }
    .p4 view:nth-child(3){
      top: 0;
      right: 0;
      width: 73rpx;
      height: 36px;
    }
    .p4 view:nth-child(4){
      top: 80rpx;
      right: 0;
      width: 153rpx;
      height: 36px;
    }
    .preview.p5 view{
      width: 153rpx;
      height: 153rpx;
      margin: 6rpx;
    }
    .p5 view:nth-child(2){
      right: 79rpx;
      width: 73rpx;
      height: 36px;
    }
    .p5 view:nth-child(3){
      top: 0;
      right: 0;
      width: 73rpx;
      height: 36px;
    }
    .p5 view:nth-child(4){
      top: 80rpx;
      right: 0;
      width: 73rpx;
      height: 36px;
    }
    .p5 view:nth-child(5){
      top: 80rpx;
      right: 79rpx;
      width: 73rpx;
      height: 36px;
    }
  }
}