.container {
  padding-bottom: 130rpx;
  position: relative;
}

.empty {
  width: 480rpx;
  height: 263rpx;
  position: absolute;
  left: 135rpx;
  top: 260rpx;
  background: url('https://inimg02.jiuyan.info/in/2018/01/08/9150A80F-EE3A-58E5-5BFD-534951B7C028.png') no-repeat;
  background-size: contain;
  background-position: 50%;
}
