.container {
  padding-bottom: 130rpx;
  position: relative;
}

.empty {
  width: 480rpx;
  height: 263rpx;
  position: absolute;
  left: 135rpx;
  top: 260rpx;
  background: url('https://inimg02.jiuyan.info/in/2018/01/08/9150A80F-EE3A-58E5-5BFD-534951B7C028.png') no-repeat;
  background-size: contain;
  background-position: 50%;
}

.private {
  width: 252rpx;
  height: 286rpx;
  left: 249rpx;
  background-image: url('http://inimg02.jiuyan.info/in/2018/01/08/91B0F614-AFCC-5216-953D-CC1D117B022C.png');
}
.c-main-swiper-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #666;
}
.swiper-index {
  position: absolute;
  top: 56rpx;
  left: 0;
  width: 100%;
  font-size: 40rpx;
  color: #fff;
  text-align: center;
}
.swiper-down {
  position: absolute;
  bottom: 34rpx;
  right: 34rpx;
  font-size: 80rpx;
  color: #1f1f1f;
  background-color: #fff;
  background-position: center;
  background-size: 30rpx 30rpx;
  background: -webkit-radial-gradient(
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0) 50%
  );
}
.c-main-swiper {
  width: 100%;
  height: 100%;
  /* background-color: #000; */
  swiper-item .slide-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
