.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.indexBg {
  width: 750rpx;
  height: 574rpx;
  background-image: url("https://inimg01.jiuyan.info/in/2018/01/24/217D1276-B7F6-5A2A-CDD8-8EB120904EA2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100rpx;
}

.empty {
  view {
    width: 200rpx;
    height: 200rpx;
    margin: 100rpx auto 20rpx;
    background-image: url(http://inimg07.jiuyan.info/in/2018/01/08/330FC2D5-6EE7-C1B8-C706-8A1B082AD7C9.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  text {
    font-size: 24rpx;
    color: #b0b0b0;
  }
}
