.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.tips{
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  background: #FFF;
  box-shadow: 0 8rpx 20rpx 0 rgba(0,0,0,0.03);
  font-size: 26rpx;
  color: #333;
  position: relative;
  view{
    position: absolute;
    top: 0;
    left: 30rpx;
    width: 40rpx;
    height: 100%;
    background: url(http://inimg05.jiuyan.info/in/2018/01/10/C0C2FA38-293C-5A52-23B8-88077BA99400.png) no-repeat;
    background-size: 100% auto;
    background-position: center
  }
  text{
    margin-left: 84rpx;
  }
}

.members{
  margin: 50rpx 21rpx 0;
  padding-bottom: 50rpx;
  width: 708rpx;
  border-bottom: 3rpx solid #f7f7f7;
  .item{
    margin: 14rpx;
    display: inline-block;
    position: relative;
    .avatar{
      width: 90rpx;
      height: 90rpx;
      border-radius: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 12rpx;
    }
    .master{
      position: absolute;
      top: 64rpx;
      left: 64rpx;
      width: 26rpx;
      height: 26rpx;
      background: url(http://inimg05.jiuyan.info/in/2018/01/10/3D7A1390-C9CA-FCB2-1FB6-7ACAD500BBCE.png) no-repeat;
      background-size: 100% auto;
      background-position: center
    }
    .name{
      font-size: 20rpx;
      color: #666;
      width: 80rpx;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }
}

.area,.type,.open{
  position: relative;
  height: 120rpx;
  border-bottom: 3rpx solid #f7f7f7;
  width: 682rpx;
  display: flex;
  align-content: center;
  font-size: 32rpx;
  align-items: center;
  position: relative;
  picker{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .picker{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: right;
      line-height: 120rpx;
      color: #b0b0b0;
      &.icon-arrow:before{
        float: right;
        color: #b0b0b0;
      }
      &.on{
        color: #333;
      }
    }
  }
}

.open{
  justify-content: space-between;
  .block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.btn{
  position: fixed;
  bottom: 34rpx;
  width: 682rpx;
  height: 100rpx;
  left: 34rpx;
  background-image: linear-gradient(90deg, #FF7869 0%, #FF4338 100%);
  border-radius: 6rpx;
  color: #fff;
  line-height: 100rpx;
  text-align: center;
}